{{ define "main" }}

{{ partial "page" (dict "heading" .Params.title "content" .Content) }}

<section>
    <p>Hello</p>
    <ul>
        {{ range $taxonomyname, $taxonomy := .Site.Taxonomies }}
        <li><a href="{{ "/" | relLangURL}}{{ $taxonomyname | urlize }}">{{ $taxonomyname }}</a>
            <ul>
                {{ range $key, $value := $taxonomy }}
                <li> {{ $key }} </li>
                <ul>
                    {{ range $value.Pages }}
                    <li><a href="{{ .Permalink}}"> {{ .LinkTitle }} </a> </li>
                    {{ end }}
                </ul>
                {{ end }}
            </ul>
        </li>
        {{ end }}
    </ul>
</section>
{{ partial "sponsors-side" (dict "sponsors" .Site.Data.sponsors) }}

{{ end }}
